.artobj-container {
  display: flex;
  flex-direction: row;
}

.artobj-photo {
  width: 50%;
  padding: 0 0 0 2rem;
}

.artobj-photo img {
  max-width:100%;
}

.artobj-text {
  width: 50%;
  text-align: right;
  padding: 0 2rem;
}

.artobj-text h2 {
 font-size: 2.2rem;
}

@media (max-width: 1500px) {
  .artobj-container {
    flex-direction: column-reverse;
  }

  .artobj-photo {
    width: 100%;
    padding-right: 1rem;
    padding-bottom: 2rem;
  }

  .artobj-text {
    width: 100%;
    text-align: center;
  }
}

