.person-container-s {
  background-image: url('/public/jpg/photo/portret_Strelnikov.jpg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.person-container-s-inner {
  padding: 4rem;
  font-weight: bold;
}

@media (max-width: 1500px) {
  .person-container-s {
    height: inherit;
    min-height: 40rem;
    justify-content: flex-start;
  }

  .person-container-s-inner {
    padding: 2rem;
    font-weight: bold;
  }
}

.person-container-s-img {
  padding: 2rem 0 0 1rem;
}

.person-container-s-img img {
  width: 4rem;
}

.person-container-s h4 {
  font-size: 2rem;
  margin: 1rem 0 0.2rem 0;
}

.person-container-s-ul {
  list-style: none;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.person-container-s-music-link {
  padding: 0 0 6rem 1.4rem;
}

.music-lib-link-s {
  cursor: pointer;
  text-decoration: underline;
  font-weight: normal;
  color: #000;
}

.music-lib-link-s:hover {
  opacity: 0.8;
}
