.container-third-page {
    font-weight: 600;
    position: absolute;
    background: white;
    top: 0;
    left: 20%;
    overflow-y: auto;
    height: 100vh;
    width: 60%;
    opacity: 0;
    animation: fadeInAnimation 2s ease-in forwards;
}

@media (max-width: 1024px) {
    .container-third-page {
        left: 0;
        width: 100%;
    } 
}

.logo-container {
    opacity: 0;
    text-align: center;
    margin-top: 2rem;
    animation: 2s fadeInAnimation 2s ease-in forwards;
}

.stat-logo {
    max-width: 6rem;
}

.welcomeText-container {
    margin: 2rem;
    text-align: center;
}

.welcomeText-container p {
    margin: 0;
    opacity: 0;
}

.par1 {
    animation: 4s fadeInAnimation 1s ease-in forwards;
}
.par2 {
    animation: 5s fadeInAnimation 1s ease-in forwards;
}
.par3 {
    animation: 6s fadeInAnimation 1s ease-in forwards;
}
.par4 {
    animation: 7s fadeInAnimation 1s ease-in forwards;
}
.par5 {
    animation: 8s fadeInAnimation 1s ease-in forwards;
}
.par6 {
    animation: 9s fadeInAnimation 1s ease-in forwards;
}
.par7 {
    animation: 10s fadeInAnimation 1s ease-in forwards;
}

.hp-logo-container {
    opacity: 0;
    text-align: center;
    margin-top: 3rem;
    animation: 7s fadeInAnimation 1s ease-in forwards;
}

.hp-logo {
    max-width: 50px;
    max-height: 50px;
}

.hptext-container {
    opacity: 0;
    text-align: center;
    margin-bottom: 0.8rem;
    padding: 0 0.8rem;
    font-size: 1rem;
    animation: 7s fadeInAnimation 1s ease-in forwards;
}

.sprava-logo-container {
    text-align: center;
    margin-bottom: 1rem;
    opacity: 0;
    animation: 9s fadeInAnimation 1s ease-in forwards;
}

.sprava-logo-static {
    max-width: 120px;
}

.sprava-logo-text {
    margin-top: 4rem;
    text-align: center;
    font-size: 1rem;
    opacity: 0;
    animation: 9s fadeInAnimation 1s ease-in forwards;
}

.button {
    position: relative;
    margin: auto;
    display: block;
    background-image: url('/public/jpg/btn/BSAD.png');
    background-size: cover;
    width: 100px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    transition: 
        top 0.2s,
        left 0.2s;
    opacity: 0;
    animation: 8s fadeInAnimation 1s ease-in forwards;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
    top: 0.5px;
    left: 0.5px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* .container-third-page {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    height: 100vh;
}

.content {

} */

/* .container-third-page {
    position: absolute;
    margin: auto;

    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    height: 100vh;

} */
