

.lang-container {
    text-align: center;
    margin-top: 70px    ;
}

.eng-logo-icon{
    height:60px;
    width:100px;
}

.by-logo-icon{
    height:60px;
    width:100px;
}

.rus-logo-icon{
    height:60px;
    width:100px;
}