.lang-container {
    text-align: center;
    margin-top: 30px;
}

.eng-logo-icon,
.by-logo-icon,
.rus-logo-icon {
    width: 76px;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .eng-logo-icon,
    .by-logo-icon,
    .rus-logo-icon {
        width:60px;
    }
}