.logo-container {
    text-align: center;
    margin-top: 2rem;
}

.percents {
  text-align: center;
}

.logo-gif {
    max-width: 450px;
    max-height: 450px;
    opacity: 0;
    animation: logo1Animation 2s ease-in forwards;
}

@keyframes logo1Animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
